/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url("button.css");
@import url("status.css");
@import url("nav.css");
@import url("header.css");
@import url("containers.css");
@import url("services.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: rgb(252 252 253);
}

body {
  background-color: rgb(17 21 26);
}

main {
  margin-left: 240px;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.p-half {
  padding: 0.5em;
}

.p-1{
  padding: 1em;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-1 {
  gap: 1em;
}

.w-full {
  width: 100%;
}
