.containers {
  width: 80%;
  margin: 20px 0;
}

.containers table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.containers th,
.containers td {
  text-align: left;
  padding: 12px 16px;
}

.containers th {
  color: white;
  font-weight: bold;
}

.containers tbody tr:hover {
  background-color: rgb(37 47 56);
}

.containers th {
  border-bottom: 1px solid #fff;
  width: calc((100% - 15%) / 3);
}

.containers .status-col {
  text-align: center;
  width: 5%;
}

.containers .actions-col {
  text-align: center;
  width: 10%;
}
